<div class="container">
    <div class="row">
        <div class="col text-center">
            <a href="/articles" class="m-3 btn btn-lg btn-primary">Click to view scrape results!</a>
            <br>
            <a href="/scrape" class="m-3 btn btn-lg btn-danger">Scrape again</a>
            <p>https://www.nytimes.com/section/technology</p>
        </div>
    </div>