<div class="container">
    <div class="row">
        <div class="col text-center">
            <a href="/articles" id="scrapeBtn" class="m-3 btn btn-lg btn-danger">Click to view scrape results!</a>
            <p>https://www.nytimes.com/section/technology</p>
        </div>
    </div>